.container {
    margin: 20vh 15vw;
    text-align: center;
}

.infoImg {
    width: 200px;
    height: 200px;
}

.infoText {
    color: var(--primary-color);
    font-size: 30px;
    margin: 60px 5vw;
    padding-bottom: 100px;
}

.infoTitle {
    color: var(--secondary-color);
    font-size: 50px;
    font-weight: 500;
}

.gridIcons {
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(3, 170px);
    margin-top: 40px;
    margin-inline: 25px;
}

.tecIcons {
    border: 4px solid var(--icon-border-color);
    border-radius: 10px;
    width: 170px;
    padding: 20px 35px;
}

.card {
    background-color: var(--card-background);
    border-radius: 30px;
    padding-block: 20px;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}