.header {
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25vh;
}

.headerName {
    font-size: 32px;
    font-weight: bold;
    width: 40%;
}

.headerName p {
    text-align: center;
    margin-left: 70px;
}

.menuButton {
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    transition: color 0.3s;
}

.menuButton:hover {
    color: var(--secondary-color);
}

.nav {
    width: 60%;
    height: 45px;
    font-size: 20px;
    line-height: 55px;
}

.navMenu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0 100px;
}